@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
:root {
  --canvas-background: #DDDDDD;
  --pane-background: #62ff5d;
  --button-background: #a8ff9d;
  --button-hover-background: #00cc22;
  --button-down-background: #00aa00;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-height: 100vh;
  max-width: 100vw;
}

.leftpane {
  z-index: 1000001;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: var(--pane-background);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: medium solid darkgreen;
}

.leftpane button {
  width: 100%;
  height: 2em;
  cursor: pointer;
  text-align: center;
  font-size: 1.1em;
  border: none;
  background: var(--button-background);
}

.leftpane button:hover {
  font-weight: bold;
  background-color: var(--button-hover-background);
}

.leftpane button:active {
  background-color: var(--button-down-background);
}

.leftpane .file-cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.leftpane .json-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leftpane .json-container #json {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  border: none;
  resize: none;
}

.leftpane .json-container #json:focus {
  outline: none;
}

.leftpane .library {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: green;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: medium solid darkgreen;
  overflow: auto;
}

.canvas-container {
  -webkit-box-flex: 3.75;
      -ms-flex: 3.75;
          flex: 3.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: black;
}

.canvas-container .notification {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 1000000;
  height: 3em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: -webkit-clip-path 0.25s linear;
  transition: -webkit-clip-path 0.25s linear;
  transition: clip-path 0.25s linear;
  transition: clip-path 0.25s linear, -webkit-clip-path 0.25s linear;
}

.canvas-container .notification p span {
  font-weight: bold;
}

.canvas-container .notification.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.canvas-container .notification.fail {
  background: #ffee00;
  color: black;
}

.canvas-container .notification.success {
  background: #00ff00;
  color: black;
}

.canvas-container #canvas {
  position: relative;
  top: -3em;
  background: var(--canvas-background);
}

.rightpane {
  background-color: var(--pane-background);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: medium solid darkgreen;
  z-index: 1000001;
}
/*# sourceMappingURL=main.css.map */