@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    --canvas-background: #DDDDDD;
    --pane-background: #62ff5d;
    --button-background: #a8ff9d;
    --button-hover-background: #00cc22;
    --button-down-background: #00aa00;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    display: flex;
    align-items: stretch;
    max-height: 100vh;
    max-width: 100vw;
}

.leftpane {
    z-index: 1000001;
    flex: 1;
    background: var(--pane-background);
    padding: 0;
    display: flex;
    flex-direction: column;
    border-right: medium solid darkgreen;

    button {
        width: 100%;
        height: 2em;
        cursor: pointer;
        text-align: center;
        font-size: 1.1em;
        border: none;
        background: var(--button-background);

        &:hover {
            font-weight: bold;
            background-color: var(--button-hover-background);
        }
        &:active {
            background-color: var(--button-down-background);
        }
    }
    .file-cta-container {
        display: flex;
        justify-content: space-evenly;
    }
    .json-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        #json {
            flex: 5;
            border: none;
            resize: none;

            &:focus {
                outline: none;
            }
        }
    }
    .library {
        flex: 5;
        display: flex;
        background: green;
        flex-wrap: wrap;
        border-top: medium solid darkgreen;
        overflow: auto;

        // .button {
        //     // display: none;
        // }
    }
}

.canvas-container {
    flex: 3.75;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background: black;

    .notification {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        z-index: 1000000;
        height: 3em;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 0.25s linear;

        p span {
            font-weight: bold;
        }

        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        &.fail {
            background: #ffee00;
            color: black;
        }
        &.success {
            background: #00ff00;
            color: black;
        }
    }
    #canvas {
        position: relative;
        top: -3em;
        background: var(--canvas-background);
    }
}

.rightpane {
    background-color: var(--pane-background);
    flex: 1;
    border-left: medium solid darkgreen;
    z-index: 1000001;
}